.navigation {
	background-color: #fff;
}
.panel {
	margin-bottom: 0 !important;
}
.panelNav {
	margin: 0;
}
.navigation2 {
	background-color: #fff;
	display: flex;
	justify-content: center;
	border: 1px #aaa solid;
}
.categories {
	padding: 5px;
}

.categories .active a {
	padding-bottom: 10px !important;
	text-decoration: underline;
	background-color: #fff !important;
}
.col-md-4 img {
	width: 100%;
}
.promos {
	margin-top: 50px;
}
.banner {
	background-color: #ef5c6e;
	height: 150px;
	color: #fff;
	font-size: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.items {
	margin-top: 50px;
}
.price {
	color: red;
}
.product {
height 250px;
}
.product img {
max-height: 200px;
}
.cat {
color: #aaa;
text-decoration: underline;
}

